body
	{ background-color: black;
		margin: 0;
	}
img 
	{ 	width: 100%;
		opacity: 1;
	}
.grid
{ position: absolute;
	top: 0;
	left: 0;
	z-index: -10;
	opacity: 1;
}
#intro-1
{ position: absolute;
	margin-top: 4vw;
	z-index: 7; 
}
.pink{ color: #F28DD7; }
#menu {text-align: center;}
#menu ul 
{ list-style: none; 
  display: flex;
  margin-left: 12.5vw;
  z-index: 7; 
}
#menu ul li 
{
	width: 15vw;
	margin: 0.5vw ;
	padding: 0.5vw;
	z-index: 7; 
}
#menu ul li a 
{ color: white;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 0.15vw;
  font-family: 'Source Code Pro', monospace;
  font-style: normal;
  font-size: 1.5vw;
  z-index: 7; 
 }
 #menu ul li:hover
{ background: #DEF241;z-index: 7; 
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
}
#menu .fa {margin-right: 0.4vw;z-index: 7; }
.sub-1 { display: none; z-index: 7; }

#menu ul li:hover .sub-1
{ z-index: 10;
	display: block;
	position: absolute;
	background-color: black;
	margin-top: 0.5vw;
	margin-left: -0.5vw;
}
#menu ul li:hover .sub-1 ul
{z-index: 7; 
	display: block;
	margin: 0.5vw;
}
#menu ul li:hover .sub-1 ul li
{z-index: 7; 
	width: 10.75vw;
	padding: 0.5vw;
	background: transparent;
	text-align: left;
}
#menu ul li:hover .sub-1 ul li:last-child
{border-bottom: none;z-index: 7; }
#menu ul li:hover .sub-1 ul li a:hover
{ color: #5235C6; z-index: 7; }

.c1-3d
{ border-radius: 50%;
  width: 40vw;
  height: 40vw;
  background-color: #5235C6;
  position: absolute;
  z-index: 0;
  margin-top: -22vw;
  margin-left: 28.9vw;
  display: inline-block;
	font-family: 'Source Code Pro', monospace;
	font-style: normal;
	text-align: center;
	color: white; 
	font-size: 7vw; 
	font-weight: bold;
	line-height: 57vw; 
	letter-spacing: -0.2vw;
}
.c2-3d
{		border-radius: 50%;
  	width: 50vw;
  	height: 50vw;
 		border-color: rgb(5, 173, 186);
 		border-style: solid;
 		border-width: 0.5vw;
  	position: absolute;
  	z-index: 1;
  	margin-top: -28vw;
  	margin-left: 23.5vw;
}
.recblack1 
{ width: 100%;
  height: 4.65vw;
  background-color: black;
  position: absolute;
  z-index: 2;
  margin-top: -6vw;
  margin-left: 0vw;
}
 #main-2-3d
 { position: absolute;
	margin-top: 34.5vw; 
	width: 100%;
	height: 200vw;
}
.picrec1
{ width: 15vw;
	height: 25vw;
	background-color: black;
	z-index: 5;
	margin-top: 14.25vw;
	margin-left: 0vw;
	position: absolute;overflow: hidden;
}
.picrec2
{ width: 15vw;
	height: 25vw;
	background-color: black;
	z-index: 5;
	margin-top: 17vw;
	margin-left: 21vw;
	position: absolute;overflow: hidden;
}
.picrec3
{ width: 15vw;
	height: 25vw;
	background-color: black;
	z-index: 5;
	margin-top: 14.25vw;
	margin-left: 42vw;
	position: absolute;
	overflow: hidden;
}
.pic1,.pic2,.pic3 {width: 300%;}
.sec-1,.sec-1-5
{	overflow: hidden;
	position: absolute;
	font-family: 'Monoton', cursive;
	text-align: left;
	letter-spacing: -1.6vw;
	font-size: 17vw; 
	color: rgb(45, 173, 186);
}
.sec-1
{ margin-top: 1.5vw;
	margin-left: 69.1vw;
	width: 30vw;
	height: 22vw; 
}
.sec-1-5
{ margin-top: 19.25vw;
	margin-left: 59vw;
	width: 40vw;
	height: 22vw; 
}
.rec-3dproto
{ overflow: hidden;
	width: 57vw;
	height: 30vw;
	margin-top: 56.75vw;
	margin-left: 0vw;
	position: absolute;
	background-color: black;
	z-index: 1;
}
.num-1,.num-2,.num-3,.num-1-m,.num-2-m,.num-3-m
{	overflow: hidden;
	position: absolute;
	font-family: 'Monoton', cursive;
	text-align: left;
	letter-spacing: -1vw;
	font-size: 10vw; 
	color: rgb(45, 173, 186);
}
.num-1
{ margin-top: 48.25vw;
	margin-left: 49.25vw;
	width: 40vw;
	height: 22vw; 
	z-index: 10;
}
.link1,.link2,.link3,.link4,.link5
{	align-content: center;
	position: absolute;
	font-weight: normal;
	color: white;
	font-family: 'Source Code Pro', sans-serif;
	font-style: normal;
	font-size: 2vw; 
	text-align: left;
	word-spacing: -0.5vw;
	line-height: 2vw;
	
}
.link1>a
{	align-content: center;
	position: absolute;
	font-weight: normal;
	color: white;
	font-family: 'Source Code Pro', sans-serif;
	font-style: normal;
	font-size: 2vw; 
	text-align: left;
	word-spacing: -0.5vw;
	line-height: 2vw;
	text-decoration: none;
}
.link1> a:hover
{color: #DEF241;}

.link2>a
{	align-content: center;
	position: absolute;
	font-weight: normal;
	color: white;
	font-family: 'Source Code Pro', sans-serif;
	font-style: normal;
	font-size: 2vw; 
	text-align: left;
	word-spacing: -0.5vw;
	line-height: 2vw;
	text-decoration: none;
}
.link2> a:hover
{color: #DEF241;}

.link3>a
{	align-content: center;
	position: absolute;
	font-weight: normal;
	color: white;
	font-family: 'Source Code Pro', sans-serif;
	font-style: normal;
	font-size: 2vw; 
	text-align: left;
	word-spacing: -0.5vw;
	line-height: 2vw;
	text-decoration: none;
}
.link3> a:hover
{color: #DEF241;}
.link4>a
{	align-content: center;
	position: absolute;
	font-weight: normal;
	color: white;
	font-family: 'Source Code Pro', sans-serif;
	font-style: normal;
	font-size: 2vw; 
	text-align: left;
	word-spacing: -0.5vw;
	line-height: 2vw;
	text-decoration: none;
}
.link4> a:hover
{color: #DEF241;}

.link5>a
{	align-content: center;
	position: absolute;
	font-weight: normal;
	color: white;
	font-family: 'Source Code Pro', sans-serif;
	font-style: normal;
	font-size: 2vw; 
	text-align: left;
	word-spacing: -0.5vw;
	line-height: 2vw;
	text-decoration: none;
}
.link5> a:hover
{color: #DEF241;}


.link1
{	width:25vw;
	height:3vw ;
	margin-top: 121vw;
	margin-left: 63vw ;
	background-color: black;
}
.link2
{	width:25vw;
	height:3vw ;
	margin-top: 67.25vw;
	margin-left: 63vw ;
	background-color: black;
}
.link3
{	width:25vw;
	height:3vw ;
	margin-top: 72.75vw;
	margin-left: 63vw ;
	background-color: black;
}
.link4
{	width:25vw;
	height:3vw ;
	margin-top: 124.75vw;
	margin-left: 63vw ;
	background-color: black;
}

.link5
{	width:25vw;
	height:3vw ;
	margin-top: 177vw;
	margin-left: 40.75vw ;
	background-color: black;
}

.hed-proto1,.hed-txt1,.hed-com1,.hed-char1,.hed-char2,.hed-char3,.hed-pv
{	font-family: 'Wallpoet', cursive;
	font-style: normal;
	text-align: left;
	position: absolute;
	display: inline-block;
	font-size: 3vw; 
	font-weight: bold;
	color: #DEF241;
}
.hed-proto1
{	width:15vw;
	height:10vw ;
	margin-top: 61.75vw;
	margin-left: 63vw ;
}

.info-proto1,.info-txt1,.info-com1,.info-char1,.info-char2,.info-char3,.info-pv
{	align-content: center;
	position: absolute;
	font-size: 1.25vw; 
	font-weight: normal;
	color: white;
	font-family: 'Source Sans Pro', sans-serif;
	font-style: normal;
	text-align: left;
	word-spacing: auto;
	line-height: auto;
}
.info-proto1
{	width:24vw;
	height:18.5vw ;
	margin-top: 68vw;
	margin-left: 63vw ;
}

.recwhitepro-1
{	z-index: 0;
	width: 18.5vw;
	height: 230vw;
	background-color: white;
	margin-top: 72.5vw;
	margin-left: 0vw;
	position: absolute;
}

.rec-3dproto2
{ overflow: hidden;
	width: 42.25vw;
	height: 23.75vw;
	margin-top: 104vw;
	margin-left: 14.75vw;
	position: absolute;
	background-color: black;
	z-index: 1;
}
.rec-3dproto3
{ overflow: hidden;
	width: 28.5vw;
	height: 14.75vw;
	margin-top: 88vw;
	margin-left: 28.5vw;
	position: absolute;
	background-color: black;
	z-index: 0;
}
.rec-3dproto4
{ overflow: hidden;
	width: 24.5vw;
	height: 30vw;
	margin-top: 88vw;
	margin-left: 74.5vw;
	position: absolute;
	background-color: black;
	z-index: 0;
}
.rec-3dproto5
{ overflow: hidden;
	width: 15vw;
	height: 23.5vw;
	margin-top: 88vw;
	margin-left: 58.25vw;
	position: absolute;
	background-color: black;
	z-index: 0;
}
.rec-3dproto6
{ overflow: hidden;
	width: 26vw;
	height: 16.25vw;
	margin-top: 127.5vw;
	margin-left: 24.75vw;
	position: absolute;
	background-color: black;
	z-index: 0;
}
.rec-3dproto7
{ overflow: hidden;
	width: 18.5vw;
	height: 18.75vw;
	margin-top: 127.5vw;
	margin-left: 52.25vw;
	position: absolute;
	background-color: black;
	z-index: 0;
}
.rec-3dproto8
{ overflow: hidden;
	width: 25.5vw;
	height: 20vw;
	margin-top: 127.5vw;
	margin-left: 73.5vw;
	position: absolute;
	background-color: black;
	z-index: 0;
}
#main-2-3d2
 { position: absolute;
	margin-top: 194vw; 
	width: 100%;
	height: 200vw;
}
.rec-3dtxt
{	overflow: hidden;
	width: 57vw;
	height: 29.75vw;
	margin-top: 8vw;
	margin-left: 0vw;
	position: absolute;
	background-color: black;
	z-index: 1;
}
.num-2
{ margin-top: 1vw;
	margin-left: 49.20vw;
	width: 40vw;
	height: 22vw; 
	z-index: 10;
}
.hed-txt1
{	width:15vw;
	height:10vw ;
	margin-top: 14.25vw;
	margin-left: 63vw ;
}
.info-txt1
{	width:24vw;
	height:18.5vw ;
	margin-top: 19.25vw;
	margin-left: 63vw ;
}
.rec-3dtxt2
{ overflow: hidden;
	width: 42.25vw;
	height: 23.75vw;
	margin-top: 55.5vw;
	margin-left: 14.75vw;
	position: absolute;
	background-color: black;
	z-index: 1;
}
.rec-3dtxt3
{ overflow: hidden;
	width: 28.5vw;
	height: 15vw;
	margin-top: 39vw;
	margin-left: 28.5vw;
	position: absolute;
	background-color: black;
	z-index: 0;
}
.rec-3dtxt4
{ overflow: hidden;
	width: 40.85vw;
	height: 22.5vw;
	margin-top: 39vw;
	margin-left: 58.25vw;
	position: absolute;
	background-color: black;
	z-index: 0;
}
.rec-3dtxt5
{ overflow: hidden;
	width: 29.75vw;
	height: 16.25vw;
	margin-top: 80vw;
	margin-left: 27.25vw;
	position: absolute;
	background-color: black;
	z-index: 0;
}
.rec-3dtxt6
{ overflow: hidden;
	width: 40.85vw;
	height: 22.5vw;
	margin-top: 73.75vw;
	margin-left: 58.25vw;
	position: absolute;
	background-color: black;
	z-index: 0;
}
#main-2-3d3
 { position: absolute;
	margin-top: 306.5vw; 
	width: 100%;
	height: 120vw;
}
.rec-3dcom
{	overflow: hidden;
	width: 57vw;
	height: 29.75vw;
	margin-top: 7.5vw;
	margin-left: 0vw;
	position: absolute;
	background-color: black;
	z-index: 1;
}
.num-3
{ margin-top: 0.75vw;
	margin-left: 49.25vw;
	width: 40vw;
	height: 22vw; 
	z-index: 10;
}
.hed-com1
{	width:15vw;
	height:10vw ;
	margin-top: 13.75vw;
	margin-left: 63vw ;
}
.info-com1
{	width:24vw;
	height:18.5vw ;
	margin-top: 18.75vw;
	margin-left: 63vw ;
}
.rec-3dcom2
{ overflow: hidden;
	width: 42.25vw;
	height: 23.75vw;
	margin-top: 54.5vw;
	margin-left: 14.75vw;
	position: absolute;
	background-color: black;
	z-index: 1;
}
.rec-3dcom3
{ overflow: hidden;
	width: 28.5vw;
	height: 14.75vw;
	margin-top: 38.5vw;
	margin-left: 28.5vw;
	position: absolute;
	background-color: black;
	z-index: 0;
}
.rec-3dcom4
{ overflow: hidden;
	width: 24.5vw;
	height: 30.75vw;
	margin-top: 38.5vw;
	margin-left: 63vw;
	position: absolute;
	background-color: black;
	z-index: 0;
}
.rec-3dcom5
{ overflow: hidden;
	width: 32.75vw;
	height: 20.25vw;
	margin-top: 80.75vw;
	margin-left: 30.5vw;
	position: absolute;
	background-color: black;
	z-index: 0;
}
.rec-3dcom6
{ overflow: hidden;
	width: 29.85vw;
	height: 34.75vw;
	margin-top: 80.75vw;
	margin-left: 69.25vw;
	position: absolute;
	background-color: black;
	z-index: 0;
}

#main-3-3d
 { position: absolute;
	margin-top: 130.5vw; 
	width: 100%;
	height: 200vw;
	color: black;
}
.num-1-m
{ margin-top: 48.25vw;
	margin-left: 49.25vw;
	width: 40vw;
	height: 22vw; 
	z-index: 10;
}
.picrec4
{ width: 15vw;
	height: 25vw;
	background-color: black;
	z-index: 5;
	margin-top: 21vw;
	margin-left: 42.25vw;
	position: absolute;overflow: hidden;
}
.picrec5
{ width: 15vw;
	height: 25vw;
	background-color: black;
	z-index: 5;
	margin-top: 23.5vw;
	margin-left: 64.5vw;
	position: absolute;overflow: hidden;
}
.picrec6
{ width: 15vw;
	height: 20vw;
	background-color: black;
	z-index: 5;
	margin-top: 20.25vw;
	margin-left: 84.5vw;
	position: absolute;
	overflow: hidden;
}
.pic4,.pic5,.pic6 {width: 100%; height: auto;}
.sec-2,.sec-2-5
{	overflow: hidden;
	position: absolute;
	font-family: 'Monoton', cursive;
	text-align: left;
	letter-spacing: -1.6vw;
	font-size: 17vw; 
	color: rgb(45, 173, 186);
}
.sec-2
{ margin-top: 1.5vw;
	margin-left: 0vw;
	width: 30vw;
	height: 22vw; 
}
.sec-2-5
{ margin-top: 19.25vw;
	margin-left: 0.75vw;
	width: 40vw;
	height: 22vw; 
}
.rec-3dcon
{	overflow: hidden;
	width: 57vw;
	height: 29.75vw;
	margin-top: 55.25vw;
	margin-left: 0vw;
	position: absolute;
	background-color: black;
	z-index: 1;
}
.pic7 {width: 100%; height: 93%;}
.hed-char1
{	width:15vw;
	height:10vw ;
	margin-top: 62vw;
	margin-left: 63vw ;
}
.info-char1
{	width:24vw;
	height:18.5vw ;
	margin-top: 67.75vw;
	margin-left: 63vw ;
}
.rec-3dchar2
{ overflow: hidden;
	width: 42.25vw;
	height: 20.75vw;
	margin-top: 102.75vw;
	margin-left: 56.75vw;
	position: absolute;
	background-color: black;
	z-index: 1;
}
.rec-3dchar3
{ overflow: hidden;
	width: 18.5vw;
	height: 22vw;
	margin-top: 89.25vw;
	margin-left: 15vw;
	position: absolute;
	background-color: black;
	z-index: 0;
}
.rec-3dchar4
{ overflow: hidden;
	width: 20.85vw;
	height: 22.5vw;
	margin-top: 88.25vw;
	margin-left: 34.75vw;
	position: absolute;
	background-color: black;
	z-index: 0;
}
.rec-3dchar5
{ overflow: hidden;
	width: 19.75vw;
	height: 26.25vw;
	margin-top: 114.25vw;
	margin-left: 13.75vw;
	position: absolute;
	background-color: black;
	z-index: 0;
}
.rec-3dchar6
{ overflow: hidden;
	width: 20.75vw;
	height: 22.5vw;
	margin-top: 113.25vw;
	margin-left: 34.75vw;
	position: absolute;
	background-color: black;
	z-index: 0;
}

#main-3-3d2
 { position: absolute;
	margin-top: 230.5vw; 
	width: 100%;
	height: 200vw;
	color: black;
}
.num-2-m
{ margin-top: 48.25vw;
	margin-left: 49.25vw;
	width: 40vw;
	height: 22vw; 
	z-index: 10;
}
.rec-3dchar
{	overflow: hidden;
	width: 57vw;
	height: 30.75vw;
	margin-top: 55.25vw;
	margin-left: 0vw;
	position: absolute;
	background-color: black;
	z-index: 1;
}
.hed-char2
{	width:35vw;
	height:10vw ;
	margin-top: 62vw;
	margin-left: 63vw ;
}
.info-char2
{	width:24vw;
	height:18.5vw ;
	margin-top: 66vw;
	margin-left: 63vw ;
}
.rec-3d2char2
{ overflow: hidden;
	width: 42.25vw;
	height: 23.75vw;
	margin-top: 103.5vw;
	margin-left: 14.75vw;
	position: absolute;
	background-color: black;
	z-index: 1;
}
.rec-3d2char3
{ overflow: hidden;
	width: 28.5vw;
	height: 14.75vw;
	margin-top: 87.25vw;
	margin-left: 28.5vw;
	position: absolute;
	background-color: black;
	z-index: 0;
}
.rec-3d2char4
{ overflow: hidden;
	width: 24.5vw;
	height: 30.75vw;
	margin-top: 87.25vw;
	margin-left: 63vw;
	position: absolute;
	background-color: black;
	z-index: 0;
}
.rec-3d2char5
{ overflow: hidden;
	width: 29.85vw;
	height: 29.75vw;
	margin-top: 120.75vw;
	margin-left: 69.25vw;
	position: absolute;
	background-color: black;
	z-index: 0;
}
.rec-3d2char6
{ 
	overflow: hidden;
	width: 32.75vw;
	height: 31.25vw;
	margin-top: 128.75vw;
	margin-left: 30.5vw;
	position: absolute;
	background-color: black;
	z-index: 0;
}

#main-3-3d3
 { position: absolute;
	margin-top: 357vw; 
	width: 100%;
	height: 200vw;
	color: black;
}
.num-3-m
{ margin-top: 48.25vw;
	margin-left: 49.25vw;
	width: 40vw;
	height: 22vw; 
	z-index: 10;
}
.rec-3dwalk
{	overflow: hidden;
	width: 57vw;
	height: 30.75vw;
	margin-top: 55.25vw;
	margin-left: 0vw;
	position: absolute;
	background-color: black;
	z-index: 1;
}
.rec-3dwalk video {
    width: 100%;  
    height: 100%; 
    object-fit: cover; 
    display: block; 
}
.hed-char3
{	width:35vw;
	height:10vw ;
	margin-top: 62vw;
	margin-left: 63vw ;
}
.info-char3
{	width:24vw;
	height:18.5vw ;
	margin-top: 66vw;
	margin-left: 63vw ;
}
.rec-3d3char2
{ overflow: hidden;
	width: 42.25vw;
	height: 23.75vw;
	margin-top: 106.5vw;
	margin-left: 14.75vw;
	position: absolute;
	background-color: black;
	z-index: 1;
}
.rec-3d3char3
{ overflow: hidden;
	width: 18.5vw;
	height: 17.75vw;
	margin-top: 87.5vw;
	margin-left: 38.5vw;
	position: absolute;
	background-color: black;
	z-index: 0;
}
.rec-3d3char4
{ overflow: hidden;
	width: 24.5vw;
	height: 32.75vw;
	margin-top: 87.5vw;
	margin-left: 63vw;
	position: absolute;
	background-color: black;
	z-index: 0;
}
.rec-3d3char5
{ overflow: hidden;
	width: 22.75vw;
	height: 22.5vw;
	margin-top: 131.25vw;
	margin-left: 34.25vw;
	position: absolute;
	background-color: black;
	z-index: 0;
}
.rec-3d3char6
{ overflow: hidden;
	width: 19.85vw;
	height: 24.75vw;
	margin-top: 131.25vw;
	margin-left: 63vw;
	position: absolute;
	background-color: black;
	z-index: 0;
}

#main-4-3d
 { position: absolute;
	margin-top: 528.5vw; 
	width: 100%;
	height: 200vw;
	color: black;
}
.picrec8
{ width: 15vw;
	height: 25vw;
	background-color: black;
	z-index: 5;
	margin-top: 14.25vw;
	margin-left: 0vw;
	position: absolute;overflow: hidden;
}
.picrec9
{ width: 15vw;
	height: 25vw;
	background-color: black;
	z-index: 5;
	margin-top: 17vw;
	margin-left: 21vw;
	position: absolute;overflow: hidden;
}
.picrec10
{ width: 15vw;
	height: 25vw;
	background-color: black;
	z-index: 5;
	margin-top: 14.25vw;
	margin-left: 42vw;
	position: absolute;
	overflow: hidden;
}
.pic8,.pic9,.pic10 {width: 300%; }
.sec-3,.sec-3-5
{	overflow: hidden;
	position: absolute;
	font-family: 'Monoton', cursive;
	text-align: left;
	letter-spacing: -1.6vw;
	font-size: 17vw; 
	color: rgb(45, 173, 186);
}
.sec-3
{ margin-top: 1.5vw;
	margin-left: 69.1vw;
	width: 30vw;
	height: 22vw; 
}
.sec-3-5
{ margin-top: 19.25vw;
	margin-left: 59vw;
	width: 40vw;
	height: 22vw; 
}
.rec-3dpv
{ overflow: hidden;
	width: 77vw;
	height: 44.75vw;
	margin-top: 56.75vw;
	margin-left: 10.5vw;
	position: absolute;
	background-color: black;
	z-index: 1;
}
.rec-3dpv video {
    width: 100%;  
    height: 100%; 
    object-fit: cover; 
    display: block; 
}
.hed-pv
{	width:15vw;
	height:10vw ;
	margin-top: 110.75vw;
	margin-left: 11vw ;
}
.info-pv
{	width:24vw;
	height:18.5vw ;
	margin-top: 119.5vw;
	margin-left: 11vw ;
}
.rec-3dpv2
{ overflow: hidden;
	width: 30vw;
	height: 16.75vw;
	margin-top: 136vw;
	margin-left: 40.75vw;
	position: absolute;
	background-color: black;
	z-index: 1;
}
.rec-3dpv3
{ overflow: hidden;
	width: 28.5vw;
	height: 14.75vw;
	margin-top: 120vw;
	margin-left: 40.75vw;
	position: absolute;
	background-color: black;
	z-index: 0;
}
.rec-3dpv4
{ overflow: hidden;
	width: 24.5vw;
	height: 24vw;
	margin-top: 120vw;
	margin-left: 74.75vw;
	position: absolute;
	background-color: black;
	z-index: 0;
}
.rec-3dpv6
{ overflow: hidden;
	width: 26vw;
	height: 16.25vw;
	margin-top: 154.25vw;
	margin-left: 40.75vw;
	position: absolute;
	background-color: black;
	z-index: 0;
}
.rec-3dpv7
{ overflow: hidden;
	width: 28.75vw;
	height: 17.75vw;
	margin-top: 157.5vw;
	margin-left: 70.5vw;
	position: absolute;
	background-color: black;
	z-index: 0;
}
.rec-3dpv8
{ overflow: hidden;
	width: 25.5vw;
	height: 15vw;
	margin-top: 142.5vw;
	margin-left: 73.75vw;
	position: absolute;
	background-color: black;
	z-index: 0;
}

 #backtotop
{	width: 100%;
	height: 11.75vw ;
	background-color: #5235C6 ;
	margin-top: 730vw;
	padding-top: 4.75vw ;
	font-size: 6vw; 
	font-weight: normal;
	color: white;
	font-family: 'Source Code Pro', sans-serif;
	font-style: normal;
	text-align: center;
	word-spacing: auto;
	letter-spacing: -0.1vw;
	position: absolute;
}

#backtotop>a
{	color: white;
	font-family: 'Source Code Pro', sans-serif;
	font-style: normal;
	text-align: center;
	word-spacing: auto;
	text-decoration: none;
}
 #backtotop>a:hover
{	color: #DEF241;}
