body
	{ background-color: black;
		margin: 0;
	}
img 
	{ width: 100%;
		opacity: 1;
	}
.grid
{ 	position: absolute;
	top: 0;
	left: 0;
	z-index: -10;
	opacity: 1;
}
#intro-2
{ position: absolute;
	margin-top: 4vw;
	z-index: 7; 
}
.pink{ color: #F28DD7; }
#menu {text-align: center;}
#menu ul 
{ list-style: none; 
  display: flex;
  margin-left: 12.5vw;
  z-index: 7; 
}
#menu ul li 
{
	width: 15vw;
	margin: 0.5vw ;
	padding: 0.5vw;
	z-index: 7; 
}
#menu ul li a 
{ color: white;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 0.15vw;
  font-family: 'Source Code Pro', monospace;
  font-style: normal;
  font-size: 1.5vw;
  z-index: 7; 
 }
 #menu ul li:hover
{ background: #DEF241;z-index: 7; 
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
}
#menu .fa {margin-right: 0.4vw;z-index: 7; }
.sub-1 { display: none; z-index: 7; }

#menu ul li:hover .sub-1
{ z-index: 10;
	display: block;
	position: absolute;
	background-color: black;
	margin-top: 0.5vw;
	margin-left: -0.5vw;
}
#menu ul li:hover .sub-1 ul
{z-index: 7; 
	display: block;
	margin: 0.5vw;
}
#menu ul li:hover .sub-1 ul li
{z-index: 7; 
	width: 10.75vw;
	padding: 0.5vw;
	background: transparent;
	text-align: left;
}
#menu ul li:hover .sub-1 ul li:last-child
{border-bottom: none;z-index: 7; }
#menu ul li:hover .sub-1 ul li a:hover
{ color: #5235C6; z-index: 7; }

.c1-de
{ border-radius: 50%;
  width: 40vw;
  height: 40vw;
  background-color: #5235C6;
  position: absolute;
  z-index: 0;
  margin-top: -22vw;
  margin-left: 28.9vw;
  display: inline-block;
	font-family: 'Source Code Pro', monospace;
	font-style: normal;
	text-align: center;
	color: white; 
	font-size: 7vw; 
	font-weight: bold;
	line-height: 57vw; 
	letter-spacing: -0.2vw;
}
.c2-de
{		border-radius: 50%;
  	width: 50vw;
  	height: 50vw;
 		border-color: rgb(5, 173, 186);
 		border-style: solid;
 		border-width: 0.5vw;
  	position: absolute;
  	z-index: 1;
  	margin-top: -28vw;
  	margin-left: 23.5vw;
}
.recblack2
{ width: 100%;
  height: 4.65vw;
  background-color: black;
  position: absolute;
  z-index: 2;
  margin-top: -6vw;
  margin-left: 0vw;
}
#main-2-de
 { position: absolute;
	margin-top: 34vw; 
	width: 100%;
	height: 200vw;
}
.picrec1de
{ width: 15vw;
	height: 25vw;
	background-color: black;
	z-index: 5;
	margin-top: 14.75vw;
	margin-left: 0vw;
	position: absolute;overflow: hidden;
}
.picrec2de
{ width: 15vw;
	height: 25vw;
	background-color: black;
	z-index: 5;
	margin-top: 17.25vw;
	margin-left: 21vw;
	position: absolute;overflow: hidden;
}
.picrec3de
{ width: 15vw;
	height: 25vw;
	background-color: black;
	z-index: 5;
	margin-top: 14.75vw;
	margin-left: 42vw;
	position: absolute;
	overflow: hidden;
}
.pic1de,.pic2de,.pic3de {width: 290%;}

.pic1de2,.pic2de2 {width: 140%;}
.pic1de3,.pic2de3,.pic3de3 {width: 210%;}

.sec-1de,.sec-1-5de,.sec-1de2,.sec-1-5de2,.sec-1de3,.sec-1-5de3
{	overflow: hidden;
	position: absolute;
	font-family: 'Monoton', cursive;
	text-align: left;
	letter-spacing: -1.6vw;
	font-size: 17vw; 
	color: rgb(45, 173, 186);
}
.sec-1de
{ margin-top: 1vw;
	margin-left: 75.1vw;
	width: 24vw;
	height: 22vw; 
}
.sec-1-5de
{ margin-top: 17.25vw;
	margin-left: 68.5vw;
	width: 30vw;
	height: 22vw; 
}
.sec-1de2
{ margin-top: 1vw;
	margin-left: 60.6vw;
	width: 38.5vw;
	height: 22vw; 
}
.sec-1-5de2
{ margin-top: 17.25vw;
	margin-left: 66.25vw;
	width: 32.75vw;
	height: 22vw; 
}
.sec-1de3
{ margin-top: 1vw;
	margin-left: 47.75vw;
	width: 51.5vw;
	height: 22vw; 
}
.sec-1-5de3
{ margin-top: 17.25vw;
	margin-left: 37vw;
	width: 60.75vw;
	height: 22vw; 
}
.rec-delogo1
{ overflow: hidden;
	width: 57vw;
	height: 30vw;
	margin-top: 57vw;
	margin-left: 0vw;
	position: absolute;
	background-color: black;
	z-index: 1;
}
.num-1,.num-2,.num-3,.num-4,.num-5
{	overflow: hidden;
	position: absolute;
	font-family: 'Monoton', cursive;
	text-align: left;
	letter-spacing: -1vw;
	font-size: 10vw; 
	color: rgb(45, 173, 186);
}
.num-1
{ margin-top: 49vw;
	margin-left: 49.25vw;
	width: 40vw;
	height: 22vw; 
	z-index: 10;
}
.link1,.link3,.link4,.link5
{	align-content: center;
	position: absolute;
	font-weight: normal;
	color: white;
	font-family: 'Source Code Pro', sans-serif;
	font-style: normal;
	font-size: 2vw; 
	text-align: left;
	word-spacing: -0.5vw;
	line-height: 2vw;
	
}
.link1>a,.link4>a,.link5>a
{	align-content: center;
	position: absolute;
	font-weight: normal;
	color: white;
	font-family: 'Source Code Pro', sans-serif;
	font-style: normal;
	font-size: 2vw; 
	text-align: left;
	word-spacing: -0.5vw;
	line-height: 2vw;
	text-decoration: none;
}
.link1> a:hover,.link4> a:hover,.link5>a:hover
{color: #DEF241;}

.link3>a
{	align-content: center;
	position: absolute;
	font-weight: normal;
	color: white;
	font-family: 'Source Code Pro', sans-serif;
	font-style: normal;
	font-size: 2vw; 
	text-align: left;
	word-spacing: -0.5vw;
	line-height: 2vw;
	text-decoration: none;
}
.link3> a:hover
{color: #DEF241;}
.link1
{	width:25vw;
	height:3vw ;
	margin-top: 117.75vw;
	margin-left: 63vw ;
	background-color: black;
}
.link3
{	width:25vw;
	height:3vw ;
	margin-top: 122.75vw;
	margin-left: 63vw ;
	background-color: black;
}
.link4
{	width:25vw;
	height:3vw ;
	margin-top: 70.25vw;
	margin-left: 63vw ;
	background-color: black;
}
.link5
{	width:25vw;
	height:3vw ;
	margin-top: 75.25vw;
	margin-left: 63vw ;
	background-color: black;
}
.hed-logo1,.hed-pos1,.hed-cat1,.hed-cat2,.hed-cat3
{	font-family: 'Wallpoet', cursive;
	font-style: normal;
	text-align: left;
	position: absolute;
	display: inline-block;
	font-size: 3vw; 
	font-weight: bold;
	color: #DEF241;
}
.hed-logo1
{	width:15vw;
	height:10vw ;
	margin-top: 62.25vw;
	margin-left: 63vw ;
}

.hed-pos1
{	width:15vw;
	height:10vw ;
	margin-top: 68.5vw;
	margin-left: 63vw ;
	color: #5235C6;
}
.hed-cat1
{	width:25vw;
	height:10vw ;
	margin-top: 69.75vw;
	margin-left: 63vw ;
}
.hed-cat2
{	width:25vw;
	height:10vw ;
	margin-top: 10vw;
	margin-left: 63vw ;
}
.hed-cat3
{	width:25vw;
	height:10vw ;
	margin-top: 10vw;
	margin-left: 63vw ;
}
.info-logo1,.info-pos1,.info-cat1,.info-cat2,.info-cat3
{	align-content: center;
	position: absolute;
	font-size: 1.25vw; 
	font-weight: normal;
	color: white;
	font-family: 'Source Sans Pro', sans-serif;
	font-style: normal;
	text-align: left;
	word-spacing: auto;
	line-height: auto;
}
.info-logo1
{	width:24vw;
	height:18.5vw ;
	margin-top: 68.75vw;
	margin-left: 63vw ;
}
.info-pos1
{	width:24vw;
	height:18.5vw ;
	margin-top: 75vw;
	margin-left: 63vw ;
	color: white;
}
.info-cat1
{	width:24vw;
	height:18.5vw ;
	margin-top: 75vw;
	margin-left: 63vw ;}

.info-cat2
{	width:24vw;
	height:18.5vw ;
	margin-top: 14.5vw;
	margin-left: 63vw ;}

	.info-cat3
{	width:24vw;
	height:18.5vw ;
	margin-top: 15vw;
	margin-left: 63vw ;}

.recwhitepro-2
{	z-index: 0;
	width: 18.5vw;
	height: 650vw;
	background-color: white;
	margin-top: 72.5vw;
	margin-left: 0vw;
	position: absolute;
}
.recwhitepro-2-5
{	z-index: 3;
	width: 100%;
	height: 18.5vw;
	background-color: white;
	margin-top: 134.5vw;
	margin-left: 0vw;
	position: absolute;
}
.rec-delogo2
{ overflow: hidden;
	width: 42.25vw;
	height: 26vw;
	margin-top: 104.5vw;
	margin-left: 14.75vw;
	position: absolute;
	background-color: black;
	z-index: 1;
}
.rec-delogo3
{ overflow: hidden;
	width: 28.5vw;
	height: 15vw;
	margin-top: 88.25vw;
	margin-left: 28.5vw;
	position: absolute;
	background-color: black;
	z-index: 0;
}

.rec-delogo4
{ overflow: hidden;
	width: 24.5vw;
	height: 22.5vw;
	margin-top: 88.25vw;
	margin-left: 74.5vw;
	position: absolute;
	background-color: black;
	z-index: 0;
}
.rec-delogo5
{ overflow: hidden;
	width: 15vw;
	height: 22.5vw;
	margin-top: 88.25vw;
	margin-left: 58.25vw;
	position: absolute;
	background-color: black;
	z-index: 0;
}
.rec-delogo6
{ overflow: hidden;
	width: 40.85vw;
	height: 23.75vw;
	margin-top: 126.75vw;
	margin-left: 58.25vw;
	position: absolute;
	background-color: black;
	z-index: 0;
}
.rec-delogo7
{ overflow: hidden;
	width: 29.75vw;
	height: 18.75vw;
	margin-top: 131.75vw;
	margin-left: 27.25vw;
	position: absolute;
	background-color: black;
	z-index: 0;
}

.rec-delogoz
{ overflow: hidden;
	width: 12.5vw;
	height: 25.5vw;
	margin-top: 88vw;
	margin-left: 2.5vw;
	position: absolute;
	z-index: 0;
}
#main-2-de2
 { position: absolute;
	margin-top: 195.75vw; 
	width: 100%;
	height: 119.5vw;
	background-color: black;
}
.picrec1de2
{ width: 15vw;
	height: 25vw;
	background-color: black;
	z-index: 5;
	margin-top: 14.75vw;
	margin-left: 0vw;
	position: absolute;overflow: hidden;
}
.picrec2de2
{ width: 15vw;
	height: 25vw;
	background-color: black;
	z-index: 5;
	margin-top: 17.25vw;
	margin-left: 21vw;
	position: absolute;overflow: hidden;
}
.num-2
{ margin-top: 55vw;
	margin-left: 49.20vw;
	width: 40vw;
	height: 22vw; 
	z-index: 10;
}
.rec-depos1
{	overflow: hidden;
	width: 27.5vw;
	height: 38.75vw;
	margin-top: 62vw;
	margin-left: 0vw;
	position: absolute;
	background-color: black;
	z-index: 1;
}
.rec-depos2
{	overflow: hidden;
	width: 27.5vw;
	height: 38.75vw;
	margin-top: 62vw;
	margin-left: 29.75vw;
	position: absolute;
	background-color: black;
	z-index: 1;
}

#main-2-de3
 { position: absolute;
	margin-top: 314vw; 
	width: 100%;
	height: 119.5vw;}

.picrec1de3
{ width: 15vw;
	height: 25vw;
	background-color: black;
	z-index: 5;
	margin-top: 14.75vw;
	margin-left: 0vw;
	position: absolute;overflow: hidden;
}
.picrec2de3
{ width: 15vw;
	height: 25vw;
	background-color: black;
	z-index: 5;
	margin-top: 17.25vw;
	margin-left: 21vw;
	position: absolute;overflow: hidden;
}
.picrec3de3
{ width: 15vw;
	height: 25vw;
	background-color: black;
	z-index: 5;
	margin-top: 14.75vw;
	margin-left: 42vw;
	position: absolute;
	overflow: hidden;
}
.num-3
{ margin-top: 55vw;
	margin-left: 49.20vw;
	width: 40vw;
	height: 22vw; 
	z-index: 10;
}
.rec-decat1
{ overflow: hidden;
	width: 57vw;
	height: 30vw;
	margin-top: 63.25vw;
	margin-left: 0vw;
	position: absolute;
	background-color: black;
	z-index: 1;
}
.rec-decat2
{ overflow: hidden;
	width: 42.25vw;
	height: 26.25vw;
	margin-top: 110.5vw;
	margin-left: 14.75vw;
	position: absolute;
	background-color: black;
	z-index: 1;
}
.rec-decat3
{ overflow: hidden;
	width: 28.5vw;
	height: 15vw;
	margin-top: 94.5vw;
	margin-left: 28.5vw;
	position: absolute;
	z-index: 0;
}
.rec-decat4
{ overflow: hidden;
	width: 32.5vw;
	height: 24.75vw;
	margin-top: 94.5vw;
	margin-left: 63vw;
	position: absolute;
	background-color: black;
	z-index: 0;
}
.rec-decat6
{ overflow: hidden;
	width: 40.85vw;
	height: 28.5vw;
	margin-top: 129.25vw;
	margin-left: 58.25vw;
	position: absolute;
	z-index: 0;
}
.rec-decat7
{ overflow: hidden;
	width: 28.5vw;
	height: 19.75vw;
	margin-top: 138vw;
	margin-left: 28.5vw;
	position: absolute;
	z-index: 0;
}

#main-2-de3-2
{ position: absolute;
	margin-top: 179vw; 
	width: 100%;
	height: 119.5vw;
}
.num-4
{ margin-top: -5.75vw;
	margin-left: 49.20vw;
	width: 40vw;
	height: 22vw; 
	z-index: 10;
}
.rec-decatz-2
{ overflow: hidden;
	width: 57vw;
	height: 30vw;
	margin-top: 0vw;
	margin-left: 0vw;
	position: absolute;
	background-color: black;
	z-index: 1;
}
.rec-decat3-1
{ overflow: hidden;
	width: 42.25vw;
	height: 30vw;
	margin-top: 49.75vw;
	margin-left: 14.75vw;
	position: absolute;
	background-color: black;
	z-index: 1;
}
.rec-decat3-2
{ overflow: hidden;
	width: 28.5vw;
	height: 17.5vw;
	margin-top: 31vw;
	margin-left: 28.5vw;
	position: absolute;
	z-index: 0;
	background-color: black;
}
.rec-decat3-3
{ overflow: hidden;
	width: 24.5vw;
	height: 34.75vw;
	margin-top: 31vw;
	margin-left: 63vw;
	position: absolute;
	background-color: black;
	z-index: 0;
}
.rec-decat3-4
{ overflow: hidden;
	width: 40.85vw;
	height: 22.75vw;
	margin-top: 75.75vw;
	margin-left: 58.25vw;
	position: absolute;
	z-index: 0;
	background-color: black;
}
.rec-decat3-5
{ overflow: hidden;
	width: 22.25vw;
	height: 17.75vw;
	margin-top: 80.75vw;
	margin-left: 34.75vw;
	position: absolute;
	z-index: 0;
	background-color: black;
}
#main-2-de3-3
{ position: absolute;
	margin-top: 298.25vw; 
	width: 100%;
	height: 119.5vw;
}
.num-5
{ margin-top: -5.75vw;
	margin-left: 49.20vw;
	width: 40vw;
	height: 22vw; 
	z-index: 10;
}
.rec-decatz-3
{ overflow: hidden;
	width: 57vw;
	height: 35.25vw;
	margin-top: 0vw;
	margin-left: 0vw;
	position: absolute;
	background-color: black;
	z-index: 1;
}
.rec-decat4-1
{ overflow: hidden;
	width: 42.25vw;
	height: 30vw;
	margin-top: 49.75vw;
	margin-left: 14.75vw;
	position: absolute;
	background-color: black;
	z-index: 1;
}
.rec-decat4-2
{ overflow: hidden;
	width: 28.5vw;
	height: 12.5vw;
	margin-top: 36.25vw;
	margin-left: 28.5vw;
	position: absolute;
	z-index: 0;
	background-color: black;
}
.rec-decat4-3
{ overflow: hidden;
	width: 24.65vw;
	height: 36vw;
	margin-top: 36.25vw;
	margin-left: 63vw;
	position: absolute;
	background-color: black;
	z-index: 0;
}
.rec-decat4-4
{ overflow: hidden;
	width: 40.85vw;
	height: 31vw;
	margin-top: 81vw;
	margin-left: 58.25vw;
	position: absolute;
	z-index: 0;
	background-color: black;
}
.rec-decat4-5
{ overflow: hidden;
	width: 32.25vw;
	height: 25vw;
	margin-top: 81vw;
	margin-left: 24.75vw;
	position: absolute;
	z-index: 0;
	background-color: black;
}

#backtotop
{	width: 100%;
	height: 11.75vw ;
	background-color: #5235C6 ;
	margin-top: 451vw;
	padding-top: 4.75vw ;
	font-size: 6vw; 
	font-weight: normal;
	color: white;
	font-family: 'Source Code Pro', sans-serif;
	font-style: normal;
	text-align: center;
	word-spacing: auto;
	letter-spacing: -0.1vw;
	position: absolute;
}
#backtotop>a
{	color: white;
	font-family: 'Source Code Pro', sans-serif;
	font-style: normal;
	text-align: center;
	word-spacing: auto;
	text-decoration: none;
}
 #backtotop>a:hover
{	color: #DEF241;}
