body
	{ background-color: black;
		margin: 0;
	}
img 
	{ 	width: 100%;
		opacity: 1;
	}
.grid
{ 	position: absolute;
	top: 0;
	left: 0;
	z-index: -10;
	opacity: 1;
}
#intro-1
{ position: absolute;
	margin-top: 4vw;
	z-index: 7; 
}
.pink{ color: #F28DD7; }
#menu {text-align: center;}
#menu ul 
{ list-style: none; 
  display: flex;
  margin-left: 12.5vw;
  z-index: 7; 
}
#menu ul li 
{
	width: 15vw;
	margin: 0.5vw ;
	padding: 0.5vw;
	z-index: 7; 
}
#menu ul li a 
{ color: white;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 0.15vw;
  font-family: 'Source Code Pro', monospace;
  font-style: normal;
  font-size: 1.5vw;
  z-index: 7; 
 }
 #menu ul li:hover
{ background: #DEF241;z-index: 7; 
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
}
#menu .fa {margin-right: 0.4vw;z-index: 7; }
.sub-1 { display: none; z-index: 7; }

#menu ul li:hover .sub-1
{ z-index: 10;
	display: block;
	position: absolute;
	background-color: black;
	margin-top: 0.5vw;
	margin-left: -0.5vw;
}
#menu ul li:hover .sub-1 ul
{z-index: 7; 
	display: block;
	margin: 0.5vw;
}
#menu ul li:hover .sub-1 ul li
{z-index: 7; 
	width: 10.75vw;
	padding: 0.5vw;
	background: transparent;
	text-align: left;
}
#menu ul li:hover .sub-1 ul li:last-child
{border-bottom: none;z-index: 7; }
#menu ul li:hover .sub-1 ul li a:hover
{ color: #5235C6; z-index: 7; }

.c1-dr
{ border-radius: 50%;
  width: 40vw;
  height: 40vw;
  background-color: #5235C6;
  position: absolute;
  z-index: 0;
  margin-top: -22vw;
  margin-left: 28.9vw;
  display: inline-block;
	font-family: 'Source Code Pro', monospace;
	font-style: normal;
	text-align: center;
	color: white; 
	font-size: 7vw; 
	font-weight: bold;
	line-height: 57vw; 
	letter-spacing: -0.2vw;
}
.c2-dr
{		border-radius: 50%;
  	width: 50vw;
  	height: 50vw;
 		border-color: rgb(5, 173, 186);
 		border-style: solid;
 		border-width: 0.5vw;
  	position: absolute;
  	z-index: 1;
  	margin-top: -28vw;
  	margin-left: 23.75vw;
}
.recblack3
{ width: 100%;
  height: 4.65vw;
  background-color: black;
  position: absolute;
  z-index: 2;
  margin-top: -6vw;
  margin-left: 0vw;
}
.dr3{width: 132%; object-position: center;}
.dr7{width: 115%; object-position: center;}
#main-2-dr
 {position: absolute;
	margin-top: 34.75vw; 
	width: 100%;
	height: 100vw;
}
#main-2-dr2
 {position: absolute;
	margin-top: 122vw; 
	width: 100%;
	height: 100vw; 
}
.sec-1dr,.sec-1-5dr,.sec-1dr2,.sec-1-5dr2
{	overflow: hidden;
	position: absolute;
	font-family: 'Monoton', cursive;
	text-align: left;
	letter-spacing: -1.6vw;
	font-size: 17vw; 
	color: rgb(45, 173, 186);
}
.sec-1dr
{ margin-top: 17.75vw;
	margin-left: -20vw;
	width: 47vw;
	height: 20.5vw; 
	transform: rotate(-90deg);
}
.sec-1-5dr
{ margin-top: 44.5vw;
	margin-left: -3.5vw;
	width: 25vw;
	height: 20.5vw; 
}

.sec-1dr2
{ margin-top: 14.5vw;
	margin-left: 65vw;
	width: 50vw;
	height: 20.5vw; 
	transform: rotate(-90deg);
}
.sec-1-5dr2
{ margin-top: 44.5vw;
	margin-left: 82.25vw;
	width: 25vw;
	height: 20.5vw; 
}
.carec
{	margin-top: 7vw;
	margin-left: 33.75vw;
	width: 60.25vw;
	height: 43vw; 
	background-color: black;
}
.recin1
{ margin-top: 56vw;
  margin-left: 33.75vw;
  width: 60.25vw;
  height: 10vw; 
  align-content: center;
  position: absolute;
  font-size: 1.25vw; 
  font-weight: normal;
  color: white;
  font-family: 'Source Sans Pro', sans-serif;
  font-style: normal;
  text-align: center;
  word-spacing: auto;
  line-height: auto;
}
.carec2
{	margin-top: 4vw;
	margin-left: 8vw;
	width: 60.25vw;
	height: 43vw; 
	background-color: black;
}
.recin2
{ margin-top: 55vw;
  margin-left: 8vw;
  width: 60.25vw;
  height: 10vw; 
  align-content: center;
  position: absolute;
  font-size: 1.25vw; 
  font-weight: normal;
  color: white;
  font-family: 'Source Sans Pro', sans-serif;
  font-style: normal;
  text-align: center;
  word-spacing: auto;
  line-height: auto;
}
@keyframes tonext {
  75% {
    left: 0;
  }
  95% {
    left: 100%;
  }
  98% {
    left: 100%;
  }
  99% {
    left: 0;
  }
}

@keyframes tostart {
  75% {
    left: 0;
  }
  95% {
    left: -300%;
  }
  98% {
    left: -300%;
  }
  99% {
    left: 0;
  }
}

@keyframes snap {
  96% {
    scroll-snap-align: center;
  }
  97% {
    scroll-snap-align: none;
  }
  99% {
    scroll-snap-align: none;
  }
  100% {
    scroll-snap-align: center;
  }
}


* {
  box-sizing: border-box;
  scrollbar-color: transparent transparent; 
  scrollbar-width: 0px;
}

*::-webkit-scrollbar {
  width: 0;
}

*::-webkit-scrollbar-track {
  background: transparent;
}

*::-webkit-scrollbar-thumb {
  background: transparent;
  border: none;
}

* {
  -ms-overflow-style: none;
}

ol, li {
  list-style: none;
  margin: 0;
  padding: 0;
}

.carousel,.carousel2 {
  position: relative;
  padding-top: 75%;
  perspective: 100px;
}

.carousel__viewport, .carousel2__viewport{
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 60.25vw;
	height: 43vw; 
  display: flex;
  overflow-x: hidden;
 	scroll-behavior: smooth;
  scroll-snap-type: x mandatory;
}

.carousel__slide,.carousel2__slide {
  position: relative;
  flex: 0 0 100%;
  width: 100%;
 }

.carousel__slide,..carousel2__slide:before {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%,-40%,70px);
  color: #fff;
  font-size: 2em;
}

.carousel__snapper,.carousel2__snapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  scroll-snap-align: center;
}

@media (hover: hover) {
  .carousel__snapper,.carousel2__snapper {
    animation-name: tonext, snap;
    animation-timing-function: ease;
    animation-duration: 4s;
    animation-iteration-count: infinite;
  }

  .carousel__slide:last-child .carousel__snapper {
    animation-name: tostart, snap;}
    .carousel2__slide:last-child .carousel2__snapper {
    animation-name: tostart, snap;
  }
}

@media (prefers-reduced-motion: reduce) {
  .carousel__snapper,.carousel2__snapper {
    animation-name: none;
  }
}

.carousel:hover .carousel__snapper,
.carousel:focus-within .carousel__snapper,
.carousel2:hover .carousel2__snapper,
.carousel2:focus-within .carousel2__snapper {
  animation-name: none;
}

.carousel__navigation,.carousel2__navigation {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  text-align: center;
}

.carousel__navigation-list,
.carousel__navigation-item,
.carousel2__navigation-list,
.carousel2__navigation-item {
  display: inline-block;
}

.carousel__navigation-button,
.carousel2__navigation-button {
  display: inline-block;
  width: 1.5rem;
  height: 1.5rem;
  background-color: #DEF241;
  background-clip: content-box;
  border: 0.25rem solid transparent;
  border-radius: 50%;
  font-size: 0;
  transition: transform 0.1s;
}

.carousel::before,
.carousel::after,
.carousel__prev,
.carousel__next,
.carousel2::before,
.carousel2::after,
.carousel2__prev,
.carousel2__next {
  position: absolute;
  top: 0;
  margin-top: 37.5%;
  width: 6vw;
  height: 6vw;
  transform: translateY(-50%);
  border-radius: 50%;
  font-size: 0;
  outline: 0;
}

.carousel::before,
.carousel__prev,
.carousel2::before,
.carousel2__prev {
  left: -1rem;
}

.carousel::after,
.carousel__next,
.carousel2::after,
.carousel2__next{
  right: -1rem;
}

.carousel::before,
.carousel::after,
.carousel2::before,
.carousel2::after {
  content: '';
  z-index: 1;
  background-color: #5235C6;
  background-size: 1.5rem 1.5rem;
  background-repeat: no-repeat;
  background-position: center center;
  color: #fff;
  font-size: 2.5rem;
  line-height: 4rem;
  text-align: center;
  pointer-events: none;
}

.carousel::before,.carousel2::before {
  background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 100 100' xmlns='http://www.w3.org/2000/svg'%3E%3Cpolygon points='0,50 80,100 80,0' fill='%23fff'/%3E%3C/svg%3E");
}

.carousel::after,.carousel2::after {
  background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 100 100' xmlns='http://www.w3.org/2000/svg'%3E%3Cpolygon points='100,50 20,100 20,0' fill='%23fff'/%3E%3C/svg%3E");
}

#backtotop
{	width: 100%;
	height: 16.5vw ;
	background-color: #5235C6 ;
	margin-top: 211vw;
	padding-top: 4.75vw ;
	font-size: 6vw; 
	font-weight: normal;
	color: white;
	font-family: 'Source Code Pro', sans-serif;
	font-style: normal;
	text-align: center;
	word-spacing: auto;
	letter-spacing: -0.1vw;
	position: absolute;
}
#backtotop>a
{	color: white;
	font-family: 'Source Code Pro', sans-serif;
	font-style: normal;
	text-align: center;
	word-spacing: auto;
	text-decoration: none;
}
 #backtotop>a:hover
{	color: #DEF241;}

