@font-face {
  font-family: "ChaloopsBold";
  src: url(./fonts/Chaloops-Bold.ttf);
}

@font-face {
  font-family: "ChaloopsMedium";
  src: url(./fonts/Chaloops-Medium.ttf);
}

@font-face {
  font-family: "ChaloopsRegular";
  src: url(./fonts/Chaloops-Regular.ttf);
}

/* text scroll animation */
@keyframes scroll {
  from {
    top: 0; transform: translateZ(0) rotateX(20deg);
  }
  to {
    top: -7500px; transform: translateZ(-2500px) rotateX(21deg);
  }
}

/* load-throbber spin animation */
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

body {
  font-family: "ChaloopsBold";
  /* push down the wrapper by half the page */
  margin: 0 auto;
  position: relative;
  background-color: #EFC805B7;
}

body::after {
  content: '';
  position: fixed;
  top: 0;
  width: 100%;
  height: 25%;
  background: linear-gradient(0deg, rgba(0,0,0,0) 40%, rgba(239,200,5,1) 100%);
}

.wrapper {
  display: flex;
  height: 100%;
  width: 60%;
  margin: 0 auto;
  perspective: 450px;
}

.scroll-text {
  font-size: large;
  text-align: justify;
  position: relative;
  animation: scroll 400s linear forwards;
}

h1 {
  text-align: center;
}

#load-throbber {
  border: 16px solid black;
  border-top: 16px solid #F050B7;
  border-radius: 50%;
  width: 80px;
  height: 80px;
  animation: spin 2s linear infinite;
  margin: 20px auto;
  display: none;
}

#load-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px; /* Adjust the width */
  height: 50px; /* Adjust the height */
  margin: 100px auto;
  border: solid;
  border-width: 5px;
  border-radius: 5px;
  background-color: #F050B7;
  color: black;
  font-size: 20px; /* Adjust the font size */
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-family: "ChaloopsBold";
}

#load-link:hover {
  background-color: #EFC805B7;
}
