nav ol li a {
  color: var(--col-01);
  text-decoration: none;
  cursor: pointer;
  padding: 0.15rem;
  border-radius: 50px;
  transition: background-color 0.3s ease, color 0.3s ease;
}

nav ol li a:hover {
  background-color: var(--col-03);
  color: var(--col-02);
}


#mode-button {
  background-color: transparent;
  border: none;
  color: var(--col-01);
  text-decoration: none;
  cursor: pointer;
  padding: 0.5rem;
  border-radius: 50px;
  transition: background-color 0.3s ease, color 0.3s ease;
}

#mode-button:hover {
  background-color: var(--col-03);
  color: var(--col-02);
}

#mode-button.dark-mode {
  background-color: var(--col-01);
  color: var(--col-03);
}

#mode-button.dark-mode:hover {
  background-color: var(--col-02);
  color: var(--col-01);
}
